<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".design.WidgetPreviewActivity" android:exported="true" />
        <!-- Local visual QA only. This activity is absent from every release/test release APK. -->
        <activity android:name=".design.DesignGalleryActivity" android:exported="true" android:windowSoftInputMode="adjustResize"/>
    </application>
</manifest>
